.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
#song_id{
    background-color: aqua;
    padding: 5px;
    width: 10%;
    font-weight: bold;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 80px;
}